<!DOCTYPE html>
<html>

<head>
    <link href="style.css" rel="stylesheet">
    <title> CRUD OPERATIONS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <center>
        <div class="form-group">
            <div class="" style="width:700px; margin-top:+50px; ">
                <div class="panel panel-default">
                    <div class="panel-body" style="background-color:#bccce5 ; margin-left: +30 ">
                        <form>
                           <!--  <div class="col-md-5"> -->
                           <h3 style="text-align: center; ">Register</h3><br>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="name" name="name" class="form-control " placeholder="User Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="email" id="email" name="email" class="form-control " placeholder="Enter Valid Email ID">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Password</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="password" id="password" name="password" class="form-control " placeholder="Enter your Password">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Confirm Password</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control " placeholder="re enter your password">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Mobile </label>
                                    </div>
                                    <div class="col-md-6">

                                        <input id="mobile" type="number" class="form-control" placeholder="Enter Valid Phone" name="Mobile"><br>
                                    </div>
                                </div>
                                <input type="button" id="facebook" class="btn" value="facebook" name="facebook" style="margin-left: 80px">
                                <input type="button" id="Email" class="btn" value="Email" name="Email">
                                <input type="button" id="submit" class="btn" value="submit" name="submit">
                                <input type="button" id="viewUser" class="btn" value="viewUser" name="viewUser">
                        </form>
                    </center>
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                            <script type="text/javascript" src="assets/js/jquery.min.js"></script>
                            <script>
                                $(document).ready(function() {
                                    $('#submit').click(function() {
                                        var name = $('#name').val();
                                        var email = $('#email').val();
                                        var password = $('#password').val();
                                        var confirmPassword = $('#confirmPassword').val();
                                        var mobile = $('#mobile').val();
                                        if (name.length == 0) {
                                            alert("Name Field is required");
                                            return false;
                                        }
                                        else if(email.length==0)
                                        {
                                            alert("Email Field is required");
                                            return false;
                                        }

                                         else if(password.length==0)
                                        {
                                            alert("Password Field is required");
                                            return false;

                                        }
                                         else if(confirmPassword.length==0)
                                        {
                                            alert("Confirm Password Field is required");
                                            return false;

                                        }
                                         else if(confirmPassword != password)
                                        {
                                            alert("Password not match");
                                            return false;

                                        }
                                        else 
                                            {if((mobile.length != 10) && (typeof(mobile) != "number")) {
                                            alert("Mobile Number is incorrect");
                                            return false;}
                                        }

                                        
                                        var request = $.ajax({
                                            "url": "http://localhost:3000/user/submit",
                                            "type": "POST",
                                            "data": {
                                                "name": name,
                                                "email": email,
                                                "password": password,
                                                "mobile": mobile
                                            }

                                        });
                                        request.success(function(data)
                                {
                                    alert("Recorded success");
                                    window.location.replace('userLogin.html')
                                })
                                    request.error(function(data){
                                                alert("Fail");
                                            })
                                    });

                                });
                            </script>
</body>

</html>