<!DOCTYPE html>
<html>
<head>
	<link href="style.css" rel="stylesheet">
	<title>User Login</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="form-group">
		<center>
            <div class="" style="width:450px;  margin-top:+100px; ">
                <div class="panel panel-default">
                    <div class="panel-body" style="background-color:#bccce5 ; ">
                    	<h3 style="text-align: center; ">User Login</h3><br>
                        <form>
                            <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>User Name</label>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" id="name" name="name" class="form-control " placeholder="Enter Valid User Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Password</label>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="password" id="pass" name="pass" class="form-control " placeholder="Enter Password">
                                        </div>
                                    </div>
                                </div>
                                <input type="button" id="login" class="btn" value="Login" name="Login">
                            </center>
                        	</form>
                        	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                            <script type="text/javascript" src="assets/js/jquery.min.js"></script>
                            <script>
                                $(document).ready(function() {
                                	alert("login working")
                                    $('#login').click(function() {
                                        var name = $('#name').val();
                                        var password = $('#pass').val();
                                        if (name.length == 0) {
                                            alert("Name Field is required");
                                            return false;
                                        }                                         
                                         else if(password.length==0)
                                        {
                                            alert("Password Field is required");
                                            return false;

                                        }
                                        
                                        var request = $.ajax({
                                            "url": "http://localhost:3000/user/login",
                                            "type": "POST",
                                            "data": {
                                                "name": name,
                                                "password": password,
                                            },
                                            success:function(data){
                                                alert("successfull");
                                            },
                                            error:function(data){
                                                alert("Fail");
                                            }

                                        });
                            
                                    });
                                });
                            </script>
</body>
</html>